
/*   
font-family: 'Reem Kufi', sans-serif;

font-family: 'Noto Sans', sans-serif;

Colors

#0097A7   #B2EBF2   #00BCD4   #FFFFFF

#03A9F4   #212121   #757575   #BDBDBD


*/
html,body {
    margin: 0;
    padding: 0;
    overflow-x:hidden; 
}

body {
    background: #f8f8f8;
    font-family: 'Noto Sans', sans-serif;
    color: #002e33;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}




.img-logo {
    width: 4em;
    height: auto;
    color: #f8f8f8;  
    margin-left: .8em;
    padding: .5em;
}





header {
    display: flex;
    justify-content: space-between;
    background: #39dae6;
    padding: 0;
    align-items: center;
    margin: 0;
    /*box-shadow: 0px 5px 10px rgba(67, 182, 202, 0.767);*/
    position: fixed;
    width: 100%;

    
}


.menu{
    margin: 0;
    cursor: pointer;
    padding: 0;
    /*width: 65px;*/
}






nav ul {
    visibility: hidden;
    opacity: 0;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #0097A7;
    height: 100vh;
    padding-top: 4em;
    z-index: 100;
}


nav ul li a {
    color: #002e33;
    font-size: 2.5em;
    font-weight: bold;
    padding: 35px 50px;
    display: block;
   text-align: center;
}

nav ul li a:hover {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: bold;
    padding: 35px 50px;
    display: block;
   text-align: center;
   transition: 400ms ease-in-out;
}


.exit img {
    width: 15%;
    height: auto;
    position: absolute;
    top: 0;
    right:0;
    margin-top: 20px;
    padding: 0px 20px 5px 2px ;
  
}


.open-nav {
    visibility: unset;
    opacity: 1;
    transform: translateX(0)
}

svg {
    width: 2em;
    height: 2em;
    color: #1b8c94;
}


/* HERO SECTION */



.hero {   
    background: url(/Portfolio\ banner\ hero.png);
    background-position:center ;
    background-repeat:no-repeat ;
    background-size: cover;
    height: 100vh;
    
}

.position-items {
    display: flex;
    justify-content:space-around;
    padding:5rem 7rem;
}

.hero-text {
    text-align: center;
    font-size: 1.5em;
    margin-top: 15%;
}
.item-img img {
    margin-top: 15em;
    width: 250px;
    border-radius: 38% 62% 70% 30% / 58% 33% 67% 42%;
    transition: border-radius 500ms ease-in-out;
}

.item-img img:hover {
    border-radius: 65% 35% 52% 48% / 67% 58% 42% 33%;

}




.no-padding {
    margin: 0;
    padding: 0;
}


.padding-cta {
    padding-bottom: 50px;
}

.cta-1 {
    background: #38c5cafd;
    border-radius: 30px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 40px;
    
    

}

.cta-1:hover {
    
    border: 1.5px solid #38c5cafd;
    border-radius: 30px;
    padding: 10px 15px;
    color: #1b8c94;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
}



hr {
    border: .1px solid rgba(181, 184, 184, 0.637);
    margin-top: 2.5em;
    margin-bottom: 2em;

    
}


/* Experience SECTION */

.container-skills {
    padding: 5px 8px 5px 8px;
    text-align: center;
}

.experience {
    margin-bottom: 4em;

}

h4 {
    font-weight: 500;
    margin-bottom: em;
}

.exp-title {
    margin-top:5px;
    padding-bottom: 20px;
}


.dots-line {
    
    width: 30%;
    border-bottom: 2px solid #0097A7;
}

/* SKILLS AND TOOLS SECTION */


.skills-tools {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    justify-content: center;
    
    
    
}

.skills-container {
    border: 1.5px solid #1b8c9479;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding-top: 0;
    margin: 0 5px 10px;
    background-color: #b1f8f22d;
    transition: width 2s;
}

.skills-container:hover {
    background-color: #fafafae5;



}

.img-skills {
    margin-top: 20px;
    width:  40%;
    height: 35px;

}

.text-skills {
font-size: 10px;
margin-top: 5px;

}


/* PORTFOLIO SECTION*/


.projects-card h3 {
    margin-top: 0px;
}


.projects-card h4 {
   
    padding-bottom: 20px;
}

.img-mac {
    width: 100%;
    margin-top: 0;
}
.portfolio-section {
    text-align: center;
    
}



.projects-card {
    background: #ffffffbb;
    border-radius: 15px;
    padding: 1.5em 1em;
    color: #002e33;
    cursor: pointer;
    font-weight: bold;  
    display: none;
    margin: 1.5em 2em ;
    box-shadow: 2px 1px 3px #dff8fa;
}

.cta-2{
   padding: 0.2em .4em;
    color: #002e33;
    margin: .15em;
    
}


.cta-2:hover{
    border-bottom:1.5px solid #2ce68f;
    padding: 0.2em .4em;
    color: #002e33;
    margin: .15em;
    
}


.show {
    display: block;
}

.portContainer {  
    margin-top: 2em;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.btn {
    cursor: pointer;
    background-color: #0097A7;
    border: none;
    padding: .5em .7em;
    border-radius: 10px;
    font-weight: 600;
    color: #f0f9fa;
    margin: .15em .6em;
}

.btn:hover {
    background-color:#39dae6;
    border-radius: 10px;
    font-weight: 600;
    color: #046874 ;
}

.btn.active {
    background-color: #046874;
    border-radius: 10px;
    font-weight: 600;
    color: #39dae6;
}


/* CONTACT SECTION*/

.contact-container {
    text-align: center;

}

.name-email {
    margin: 10px;
    padding: 20px 15px;
}



.inputs {
    border: none;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2.5px 3px #c6f3f760;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    outline: none;
}



input:focus {
  
    box-shadow: 2px 2.5px 3px #e3e8e960;
    background: #3eeaf06e;
    border-radius: 5px;
 
}



textarea {
    border: none;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2.5px 3px #c6f3f760;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    outline: none;
}

textarea:focus {

    box-shadow: 2px 2.5px 3px #e3e8e960;
    background: #3eeaf06e;
    border-radius: 5px;

}



.cta-3 {

    border: 1.5px solid #38c5cafd;
    border-radius: 30px;
    padding: 10px 15px;
    color: #1b8c94;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    
    
}


.cta-3:hover {

    border: 1.5px solid #38caaafd;
    border-radius: 30px;
    padding: 10px 15px;
    color: #1b8c94;
    cursor: pointer;
    background-color: rgba(143, 248, 243, 0.527);
    font-weight: bold;
    
    
}




.up-btn {
    display: block;
    position: fixed;
    bottom: 20px;
    z-index: 99;
    color: #acc734;
    width: 60px;
    right: 10px;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
  

}
/* FOOTER*/


.footer {

    margin-top: 50px;
    margin-bottom: 0px;
    background-color: #0d5a5fb0;
    padding: 5px 15px;
   text-align: center;
   color: #ffffff;
   font-weight: 500;
   
}


.social-media {
    display:flex;
    justify-content: center;
    padding-bottom: 10px;
}

.social-media li {
    justify-content: center;
    margin: 15px 20px;
    margin-bottom: 1px;
    padding-bottom: 0;
}

.social-media a {
    color: #39dae6;
    border:2px solid #34d7e2;
    border-radius: 50px;
    padding: 2px 5px;
}


.social-media a:hover {
    color: #39dae6;
    border:2px solid #2ce68f;
    border-radius: 50px;
    padding: 2px 5px;
}





.navbar-footer {
    display:flex;
    justify-content: space-between;
    color: #002e33;
   font-weight: 600;
   padding-top: 20px;
}


.navbar-footer a {
    color: #ffffff;
   font-weight: 600;
   text-decoration: none;
    padding: 1.5px 2px;
    cursor: pointer;

}


.navbar-footer a:hover {
   font-weight: 600;
   text-decoration: none;
    border-bottom: 2.5px solid #5fe9c0fd;
    padding: 1.5px 2px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.footer-line {
    width: 50%;
    border-bottom: 2px solid #fcffff;
    margin-top: 5px;
    margin-bottom: 5px;
}

h6 {
    color: #5ef0e8;
    font-weight: 200;
}